<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Alışveriş Sepeti</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ürün</th>
                <th scope="col">Fiyatı</th>
                <th scope="col">Adet</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Ürün 1 </td>
                <td>Fiyat 1</td>
                <td>
                  <input type="number" value="11" style="width: 60px;"/> 
                </td>
              </tr>
            </tbody>
          </table>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
          <button type="button" class="btn btn-success">Alışverişi Tamamla</button>
        </div>
      </div>
    </div>
  </div>