<mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin">DashBoard</a>
    <a mat-list-item role="listitem" routerLink="customers">Müşteriler</a>
    <a mat-list-item role="listitem" routerLink="products">Ürünler</a>
    <a mat-list-item role="listitem" routerLink="orders">Siparişler</a>
    <a mat-list-item role="listitem" routerLink="authorize-menu">Authorize Menu</a>
    <a mat-list-item role="listitem" routerLink="roles">Roles</a>
    <a mat-list-item role="listitem" routerLink="">Siteyi Gör</a>
</mat-list>
