.product-image-card {
    max-width: 250px;
    float: left;
    margin: 5px;
}

.product-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-button{
    background-color: #6563FF;
    color: white;
    width: 100%;
}
