<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="">Sanal Pazar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="">Anasayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="products">Ürünler</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="basket">Sepet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="register">Kayıt Ol</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="login">Giriş Yap</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
              <li>
                <a routerLink="admin" class="btn btn-outline-danger btn-sm" type="submit">Yönetim Paneli</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ngx-spinner size="default" name="ballatom" type="ball-atom"></ngx-spinner>
<ngx-spinner size="default" name="ballscalemultiple" type="ball-scale-multiple"></ngx-spinner>
