<div class="row" style="margin-top: 30px;" *ngIf="state.state">
    <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>
            </div>
            <div class="mb-3">
                <label for="passwordConfirm" class="form-label">Password Tekrar</label>
                <input type="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Password Tekrarı" #txtPasswordConfirm>
            </div>    
                <button type="button" style="margin-top: 15px;" class="btn btn-primary" (click)="updatePassword(txtPassword.value, txtPasswordConfirm)">Şifreyi Güncelle</button>
        </div>
        <div class="col-md-3"></div>
</div>

