<mat-form-field appearance="fill" class="product-create">
    <mat-label>Ürün Adı</mat-label>
    <input matInput #txtName>
</mat-form-field>

<mat-form-field appearance="fill" class="product-create">
    <mat-label>Stok</mat-label>
    <input matInput type="number" min="0" value="0" #txtStock>
</mat-form-field>

<mat-form-field appearance="fill" class="product-create">
    <mat-label>Fiyat</mat-label>
    <input matInput type="number" min="0" value="0" #txtPrice>
</mat-form-field>

<button class="product-button" mat-raised-button color="accent" (click)="create(txtName,txtStock,txtPrice)">Ürün Oluştur</button>

